# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: Google
---
Language: Cpp
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left
IncludeBlocks: Regroup