[submodule "doc/source/_static/scipy-mathjax"]
	path = doc/source/_static/scipy-mathjax
	url = https://github.com/scipy/scipy-mathjax.git
[submodule "scipy/sparse/linalg/_propack/PROPACK"]
	path = scipy/sparse/linalg/_propack/PROPACK
	url = https://github.com/scipy/PROPACK.git
	shallow = true
[submodule "scipy/_lib/unuran"]
	path = scipy/_lib/unuran
	url = https://github.com/scipy/unuran.git
	shallow = true
[submodule "scipy/_lib/boost_math"]
	path = scipy/_lib/boost_math
	url = https://github.com/boostorg/math.git
	shallow = true
[submodule "scipy/_lib/array_api_compat"]
	path = scipy/_lib/array_api_compat
	url = https://github.com/data-apis/array-api-compat.git
[submodule "scipy/_lib/pocketfft"]
	path = scipy/_lib/pocketfft
	url = https://github.com/scipy/pocketfft
[submodule "scipy/_lib/cobyqa"]
	path = scipy/_lib/cobyqa
	url = https://github.com/cobyqa/cobyqa.git
[submodule "scipy/_lib/array_api_extra"]
	path = scipy/_lib/array_api_extra
	url = https://github.com/lucascolley/array-api-extra.git
# All submodules used as a Meson `subproject` are required to be under the
# subprojects/ directory - see:
# https://mesonbuild.com/Subprojects.html#why-must-all-subprojects-be-inside-a-single-directory
[submodule "subprojects/highs"]
	path = subprojects/highs
	url = https://github.com/scipy/HiGHs
	shallow = true
