*.pyc
*.swp
*.pyd
*.so
*.o
*.lo
*.la
*~
*.bak
*.swp
.\#*
.deps
.libs
cythonize.dat
/build
/dist
/scipy.egg-info
/site.cfg
/scipy/__config__.py
/scipy/version.py

/doc/frontpage/build
/doc/source/generated

