[submodule "doc/source/_static/scipy-mathjax"]
	path = doc/source/_static/scipy-mathjax
	url = https://github.com/scipy/scipy-mathjax.git
[submodule "scipy/_lib/boost"]
	path = scipy/_lib/boost
	url = https://github.com/scipy/boost-headers-only
	shallow = true
[submodule "scipy/sparse/linalg/_propack/PROPACK"]
	path = scipy/sparse/linalg/_propack/PROPACK
	url = https://github.com/scipy/PROPACK
	shallow = true
[submodule "scipy/_lib/unuran"]
	path = scipy/_lib/unuran
	url = https://github.com/scipy/unuran.git
	shallow = true
[submodule "HiGHS"]
	path = scipy/_lib/highs
	url = https://github.com/scipy/highs
	shallow = true
