*.pyc
*.swp
*.pyd
*.so
*.o
*.a
*.lo
*.la
*~
*.bak
*.swp
.\#*
.deps
.libs
.tox
.project
.pydevproject
.settings
cythonize.dat
_configtest.c
build.log
/build
/dist
/scipy.egg-info
/site.cfg
/scipy/__config__.py
/scipy/version.py

/doc/frontpage/build
/doc/source/generated

scipy/cluster/_vq_rewrite.c
scipy/fftpack/_fftpackmodule.c
scipy/fftpack/convolvemodule.c
scipy/fftpack/src/dct.c
scipy/fftpack/src/dst.c
scipy/integrate/_dopmodule.c
scipy/integrate/lsodamodule.c
scipy/integrate/vodemodule.c
scipy/interpolate/_ppoly.c
scipy/interpolate/interpnd.c
scipy/interpolate/src/dfitpack-f2pywrappers.f
scipy/interpolate/src/dfitpackmodule.c
scipy/io/matlab/mio5_utils.c
scipy/io/matlab/mio_utils.c
scipy/io/matlab/streams.c
scipy/lib/blas/cblas.pyf
scipy/lib/blas/cblasmodule.c
scipy/lib/blas/fblas-f2pywrappers.f
scipy/lib/blas/fblas.pyf
scipy/lib/blas/fblasmodule.c
scipy/lib/blas/fblaswrap.f
scipy/lib/lapack/clapackmodule.c
scipy/lib/lapack/flapackmodule.c
scipy/lib/lapack/clapack.pyf
scipy/lib/lapack/flapack.pyf
scipy/linalg/_cblasmodule.c
scipy/linalg/_clapackmodule.c
scipy/linalg/_interpolativemodule.c
scipy/linalg/cblas.pyf
scipy/linalg/clapack.pyf
scipy/linalg/_fblas-f2pywrappers.f
scipy/linalg/_fblasmodule.c
scipy/linalg/_flapack-f2pywrappers.f
scipy/linalg/_flapackmodule.c
scipy/linalg/fblas.pyf
scipy/linalg/flapack.pyf
scipy/linalg/src/id_dist/src/*_subr_*.f
scipy/ndimage/src/_ni_label.c
scipy/optimize/cobyla/_cobylamodule.c
scipy/optimize/lbfgsb/_lbfgsbmodule.c
scipy/optimize/minpack2/minpack2module.c
scipy/optimize/nnls/_nnlsmodule.c
scipy/optimize/slsqp/_slsqpmodule.c
scipy/signal/_spectral.c
scipy/signal/correlate_nd.c
scipy/signal/lfilter.c
scipy/sparse/csgraph/_min_spanning_tree.c
scipy/sparse/csgraph/_shortest_path.c
scipy/sparse/csgraph/_tools.c
scipy/sparse/csgraph/_traversal.c
scipy/sparse/linalg/dsolve/umfpack/_umfpack.py
scipy/sparse/linalg/dsolve/umfpack/_umfpack_wrap.c
scipy/sparse/linalg/eigen/arpack/_arpack-f2pywrappers.f
scipy/sparse/linalg/eigen/arpack/_arpackmodule.c
scipy/sparse/linalg/eigen/arpack/arpack.pyf
scipy/sparse/linalg/isolve/iterative/BiCGREVCOM.f
scipy/sparse/linalg/isolve/iterative/BiCGSTABREVCOM.f
scipy/sparse/linalg/isolve/iterative/CGREVCOM.f
scipy/sparse/linalg/isolve/iterative/CGSREVCOM.f
scipy/sparse/linalg/isolve/iterative/GMRESREVCOM.f
scipy/sparse/linalg/isolve/iterative/QMRREVCOM.f
scipy/sparse/linalg/isolve/iterative/STOPTEST2.f
scipy/sparse/linalg/isolve/iterative/getbreak.f
scipy/sparse/linalg/isolve/iterative/_iterative.pyf
scipy/sparse/linalg/isolve/iterative/_iterativemodule.c
scipy/spatial/ckdtree.c
scipy/spatial/qhull.c
scipy/special/_logit.c
scipy/special/_ufuncs.c
scipy/special/_ufuncs.h
scipy/special/_ufuncs_cxx.cxx
scipy/special/_ufuncs_cxx.h
scipy/special/specfunmodule.c
scipy/stats/_rank.c
scipy/stats/mvnmodule.c
scipy/stats/statlibmodule.c
scipy/stats/vonmises_cython.c
scipy/stats/mvn-f2pywrappers.f
