# After changing this file, check it on:
#   http://lint.travis-ci.org/
language: python

addons:
  apt:
    packages: &common_packages
    - libatlas-base-dev
    - liblapack-dev
    - gfortran
    - libgmp-dev
    - libmpfr-dev
    - libsuitesparse-dev
    - ccache
    - swig
    - libmpc-dev

env:
  global:
   # Wheelhouse for pre-release wheels
   - PRE_WHEELS="https://7933911d6844c6c53a7d-47bd50c35cd79bd838daf386af554a83.ssl.cf2.rackcdn.com"
   # Using a single thread can actually speed up some computations on Travis
   - OPENBLAS_NUM_THREADS=1

matrix:
  include:
    - python: 3.6
      if: type = pull_request
      env:
        - PYFLAKES=1
        - PEP8=1
        - NUMPYSPEC="--upgrade numpy"
      before_install:
        - pip install pycodestyle==2.5.0
        - pip install pyflakes==2.1.1
      script:
        # TODO: remove "ignore[import]" filter below when moving to pyflakes==2.1.2 or above
        - PYFLAKES_NODOCTEST=1 pyflakes scipy benchmarks/benchmarks 2>&1 | grep -E -v 'unable to detect undefined names|assigned to but never used|imported but unused|redefinition of unused|may be undefined, or defined from star imports|syntax error in type comment .ignore.import.' > test.out; cat test.out; test \! -s test.out
        - pycodestyle scipy benchmarks/benchmarks
        - |
          grep -rlIP '[^\x00-\x7F]' scipy | grep '\.pyx\?' | sort > unicode.out; grep -rlI '# -\*- coding: \(utf-8\|latin-1\) -\*-' scipy | grep '\.pyx\?' | sort > coding.out; comm -23 unicode.out coding.out > test_code.out; cat test_code.out;  test \! -s test_code.out
    - python: 3.7
      if: type = pull_request
      arch: arm64
      dist: bionic
      env:
        - TESTMODE=fast
        - COVERAGE=
        - USE_WHEEL=1
        - PIP_NO_CACHE_DIR=off
        - NUMPYSPEC="numpy"
    - python: 3.7
      if: type = pull_request
      env:
        - TESTMODE=fast
        - COVERAGE=
        - NUMPYSPEC="--pre --upgrade --timeout=60 -f $PRE_WHEELS numpy"
        # Need a test with most recent Python version where we build from an
        # sdist (uses pip build isolation), to check that the version we
        # specify in pyproject.toml (will be older than --pre --upgrade) works
        - USE_SDIST=1
    - python: 3.7
      if: type = pull_request
      env:
        - TESTMODE=full
        - COVERAGE="--coverage --gcov"
        - NUMPYSPEC="numpy==1.15.4"
    # Test SciPy with the debug version of Python.
    # However travis only specifies regular or development builds of Python
    # so we must install python3.6-dbg using apt.
    - language: generic
      if: type = pull_request
      dist: bionic
      env:
        - USE_DEBUG=python3.6-dbg
        - TESTMODE=fast
        - NUMPYSPEC="--upgrade numpy"
      addons:
        apt:
          packages:
            - *common_packages
            - python3.6-dbg
            - python3.6-dev
    - python: 3.8
      if: type = pull_request
      env:
        - TESTMODE=full
        - NUMPYSPEC="--pre --upgrade --timeout=60 -f $PRE_WHEELS numpy"
        - NPY_USE_BLAS_ILP64=1
    - python: 3.6
      if: type = pull_request
      env:
        - TESTMODE=fast
        - COVERAGE=
        - USE_WHEEL=1
        - REFGUIDE_CHECK=1
        - NUMPYSPEC="--upgrade numpy"
        - ASV_CHECK=1
    - python: 3.6
      if: type = pull_request
      env:
        - TESTMODE=fast
        - COVERAGE=
        - NUMPYSPEC="numpy==1.17.4"
        - USE_SDIST=1
    - python: 3.6
      if: type = pull_request
      env:
        - TESTMODE=fast
        - COVERAGE=
        - USE_WHEEL=1
        - NUMPYSPEC="numpy==1.14.6"
        # The following is needed for optimized "-OO" test run but since we use
        # pytest-xdist plugin for load scheduling its workers don't pick up the
        # flag. This environment variable starts all Py instances in -OO mode.
        - PYTHONOPTIMIZE=2
    - python: 3.6
      if: type = pull_request
      os: linux
      arch: ppc64le
      env:
        - TESTMODE=fast
        - COVERAGE=
        - NUMPYSPEC="--upgrade numpy --no-cache-dir"

cache:
  directories:
    - $HOME/.ccache
    - $HOME/.cache/pip
    - $HOME/Library/Caches/pip


before_install:
  - echo $TRAVIS_OS_NAME
  - |
    if [ "$TRAVIS_OS_NAME" == "linux" ]; then
      free -m
      export PATH=/usr/lib/ccache:$PATH
    fi
  - |
    if [[ "$NPY_USE_BLAS_ILP64" == "1" ]]; then
      target=$(python tools/openblas_support.py)
      echo "[openblas64_]" > site.cfg
      echo "library_dirs = $target/lib" >> site.cfg
      echo "include_dirs = $target/include" >> site.cfg
      echo "runtime_library_dirs = $target/lib" >> site.cfg
    fi
  - export CCACHE_COMPRESS=1
  - python --version # just to check
  - export NPY_NUM_BUILD_JOBS=2
  - uname -a
  - df -h
  - ulimit -a
  - mkdir builds
  - cd builds
  - |
    if [ -n "${USE_DEBUG}" ]; then
        # Work in our own virtualenv to isolate from travis-ci packages.
        virtualenv --python=$USE_DEBUG venv
        source venv/bin/activate
    fi
  - python -V -V
  - python -c 'import sys; print("Python debug build:", hasattr(sys, "gettotalrefcount"))'
  # arm64 build uses conda (there aren't any arm64 wheels on PyPI, need
  # Miniforge / conda-forge), so skip arm64 here
  - |
    if [[ "$TRAVIS_CPU_ARCH" != "arm64" ]]; then
         travis_retry pip install --upgrade pip setuptools wheel $NUMPYSPEC cython pytest pytest-xdist mpmath argparse Pillow codecov gmpy2 pybind11
    fi
  - |
    if [ -n "${USE_DEBUG}" ]; then
        # see gh-10676; need to pin pytest version with debug
        # Python 3.6
        travis_retry pip install pytest==5.0.1
    fi
  - |
    if [ -z "${USE_DEBUG}" -a "${TRAVIS_CPU_ARCH}" == "amd64" -a "${TRAVIS_PYTHON_VERSION}" != "3.8" ]; then
        travis_retry pip install numba==0.47
        travis_retry pip install --only-binary=:all: sparse
    fi
  - |
    if [ "${TESTMODE}" == "full" ]; then
        travis_retry pip install pytest-cov coverage matplotlib scikit-umfpack scikit-sparse
    fi
  - |
    if [ "${REFGUIDE_CHECK}" == "1" ]; then
        travis_retry pip install matplotlib Sphinx==1.7.2
    fi
  - |
    if [ "${ASV_CHECK}" == "1" ]; then
        travis_retry pip install "asv>=0.4.1"
    fi
  - |
    if [ "${TRAVIS_CPU_ARCH}" != "arm64" ]; then
         pip uninstall -y nose
    fi
  - ccache -s
  - cd ..
  - set -o pipefail
  - if [[ "${TRAVIS_CPU_ARCH}" == "arm64" ]]; then
      wget -q "https://github.com/conda-forge/miniforge/releases/download/4.8.2-1/Miniforge3-4.8.2-1-Linux-aarch64.sh"  -O miniconda.sh;
      chmod +x miniconda.sh;
      ./miniconda.sh -b -p $HOME/miniconda3;
      export PATH=$HOME/miniconda3/bin:$PATH;
      conda config --set always_yes yes --set auto_update_conda false;
      conda install pip conda;
      conda update -n base conda;
      conda info -a;
      conda install pytest pytest-xdist $NUMPYSPEC mpmath Cython pybind11;
    fi


script:
  - python -c 'import numpy as np; print("relaxed strides checking:", np.ones((10,1),order="C").flags.f_contiguous)'
  # Make sure that relaxed strides checking is actually in effect; otherwise fail loudly
  - if [ "$NPY_RELAXED_STRIDES_CHECKING" == "1" ]; then python -c'import numpy as np; assert np.ones((10,1),order="C").flags.f_contiguous'; fi
  # Test that mpmath actually uses gmpy2
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then python -c 'import mpmath.libmp; assert mpmath.libmp.BACKEND == "gmpy"'; fi
  - |
    if [ "${USE_WHEEL}" == "1" ]; then
        # Run setup.py build before pip wheel, to build in current directory
        # and make more efficient use of ccache
        echo "setup.py build"
        python tools/suppress_output.py python setup.py build
        echo "pip wheel"
        python tools/suppress_output.py pip wheel --no-build-isolation .
        pip install --no-cache-dir scipy*.whl
        USE_WHEEL_BUILD="--no-build"
    elif [ "${USE_SDIST}" == "1" ]; then
        echo "setup.py sdist"
        python tools/suppress_output.py python setup.py sdist
        # Move out of source directory to avoid finding local scipy
        cd dist
        echo "pip install"
        # Note: uses build isolation, which is what pip does with sdists by default
        # Note: don't use a fixed build dir (which would help for ccache), because
        #       --build is partially broken and the workaround in commit b4617dd764
        #       messes with build isolation.
        pip install $PWD/scipy* -v
        cd ..
        USE_WHEEL_BUILD="--no-build"
    fi
  - export SCIPY_AVAILABLE_MEM=3G
  - |
    if [[ "$TRAVIS_CPU_ARCH" == "arm64" ]]; then
      python -u runtests.py --parallel=4 -g -m $TESTMODE $COVERAGE $USE_WHEEL_BUILD -- -rfEX 2>&1 | tee runtests.log
    else
      python -u runtests.py -g -m $TESTMODE $COVERAGE $USE_WHEEL_BUILD -- -rfEX -n 3 2>&1 | tee runtests.log
    fi

  - tools/validate_runtests_log.py $TESTMODE < runtests.log
  - if [ "${REFGUIDE_CHECK}" == "1" ]; then python runtests.py -g --refguide-check; fi
  - if [ "${ASV_CHECK}" == "1" ]; then (cd benchmarks && python -masv check -E existing); fi
  # Check dynamic symbol hiding works on Linux
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then ./tools/check_pyext_symbol_hiding.sh build; fi


after_script:
  - ccache -s
  # Upload coverage information
  - |
    if [ -n "${COVERAGE}" ]; then
        RUN_DIR=`echo build/testenv/lib/python*/site-packages`
        # Produce gcov output for codecov to find
        find build -name '*.gcno' -type f -exec gcov -pb {} +
        mv *.gcov "$RUN_DIR/"
        # Run codecov
        pushd "$RUN_DIR"
        codecov -X gcov
        popd
    fi


notifications:
  # Perhaps we should have status emails sent to the mailing list, but
  # let's wait to see what people think before turning that on.
  email: false
