# After changing this file, check it on:
#   http://lint.travis-ci.org/
language: python
matrix:
  include:
    - python: 3.4
      env:
        - TESTMODE=fast
        - COVERAGE=
        - NUMPYSPEC=
        - NPY_RELAXED_STRIDES_CHECKING=0
    - python: 3.3
      env:
        - TESTMODE=fast
        - COVERAGE=
        - NUMPYSPEC=
        - NPY_RELAXED_STRIDES_CHECKING=0
    - python: 2.7
      env:
        - TESTMODE=full
        - COVERAGE=--coverage
        - NPY_RELAXED_STRIDES_CHECKING=0
    - python: 2.6
      env:
        - TESTMODE=fast
        - NUMPYSPEC===1.5.1
        - OPTIMIZE=-OO
        - NPY_RELAXED_STRIDES_CHECKING=0
    - python: 2.7
      env:
        - TESTMODE=fast
        - COVERAGE=
        - NUMPYSPEC=
        - NPY_RELAXED_STRIDES_CHECKING=1
    - python: 2.7
      env:
        - PYFLAKES=1
        - PEP8=1
        - NPY_RELAXED_STRIDES_CHECKING=0
      before_install:
        - pip install pep8==1.5.1
        - pip install pyflakes
      script:
        - PYFLAKES_NODOCTEST=1 pyflakes scipy | grep -E -v 'unable to detect undefined names|assigned to but never used|imported but unused|redefinition of unused' > test.out; cat test.out; test \! -s test.out
        - pep8 scipy
before_install:
  # Automated travis-ci wheel builds (disabled because intermittent issues)
  - uname -a
  - free -m
  - df -h
  - ulimit -a
  - sudo apt-get update -qq
  - sudo apt-get install -qq libatlas-dev libatlas-base-dev liblapack-dev gfortran
  - sudo apt-get install -qq libgmp-dev libmpfr-dev
  - mkdir builds
  - pushd builds
  # Install gmpy2 dependencies
  - wget ftp://ftp.gnu.org/gnu/mpc/mpc-1.0.2.tar.gz
  - tar xzvf mpc-1.0.2.tar.gz
  - pushd mpc-1.0.2
  - ./configure
  - make
  - sudo make install
  - popd
  # End install gmpy2 dependencies
  # Speed up install by not compiling Cython
  - pip install --install-option="--no-cython-compile" Cython
    # Install numpy and report one of its compilation settings.
  - if [ NPY_RELAXED_STRIDES_CHECKING = 0 ]; pip install numpy$NUMPYSPEC; fi
  - if [ NPY_RELAXED_STRIDES_CHECKING = 1 ]; pip install --upgrade git+git://github.com/numpy/numpy.git@v1.9.1; fi
  - python -c 'import numpy as np; print("relaxed strides checking:", np.ones((10,1),order="C").flags.f_contiguous)'
  - pip install nose mpmath argparse
  - pip install gmpy2  # speeds up mpmath (scipy.special tests)
  - if [ "${TESTMODE}" == "full" ]; then pip install coverage coveralls; fi
  - python -V
  - popd
script:
  - python $OPTIMIZE runtests.py -g -m $TESTMODE $COVERAGE
notifications:
  # Perhaps we should have status emails sent to the mailing list, but
  # let's wait to see what people think before turning that on.
  email: false
after_success:
    - if [ "${TESTMODE}" == "full" ]; then pushd build/testenv/lib/python*/site-packages/ && cp ../../../../test/.coverage . && coveralls && popd; fi
