# After changing this file, check it on:
#   http://lint.travis-ci.org/
language: python
matrix:
  include:
    - python: 3.4
      env:
        - TESTMODE=fast
        - COVERAGE=
        - NUMPYSPEC=
    - python: 3.3
      env:
        - TESTMODE=fast
        - COVERAGE=
        - NUMPYSPEC=
    - python: 2.7
      env:
        - TESTMODE=full
        - COVERAGE=--coverage
    - python: 2.6
      env:
        - TESTMODE=fast
        - NUMPYSPEC===1.5.1
        - OPTIMIZE=-OO
    - python: 2.7
      env:
        - PYFLAKES=1
        - PEP8=1
      before_install:
        - pip install pep8==1.5.1
        - pip install pyflakes
      script:
        - PYFLAKES_NODOCTEST=1 pyflakes scipy | grep -E -v 'unable to detect undefined names|assigned to but never used|imported but unused|redefinition of unused' > test.out; cat test.out; test \! -s test.out
        - pep8 scipy
before_install:
  # Automated travis-ci wheel builds (disabled because intermittent issues)
  - WHEELHOUSE=https://8167b5c3a2af93a0a9fb-13c6eee0d707a05fa610c311eec04c66.ssl.cf2.rackcdn.com/
  - uname -a
  - free -m
  - df -h
  - ulimit -a
  - sudo apt-get update -qq
  - sudo apt-get install -qq libatlas-dev libatlas-base-dev liblapack-dev gfortran
  - sudo apt-get install -qq libgmp-dev libmpfr-dev
  - mkdir builds
  - pushd builds
  # Install gmpy2 dependencies
  - wget ftp://ftp.gnu.org/gnu/mpc/mpc-1.0.2.tar.gz
  - tar xzvf mpc-1.0.2.tar.gz
  - pushd mpc-1.0.2
  - ./configure
  - make
  - sudo make install
  - popd
  # End install gmpy2 dependencies
  # Speed up install by not compiling Cython
  - pip install --install-option="--no-cython-compile" Cython
  - pip install numpy$NUMPYSPEC
  - pip install nose mpmath argparse
  - pip install gmpy2  # speeds up mpmath (scipy.special tests)
  - if [ "${TESTMODE}" == "full" ]; then pip install coverage coveralls; fi
  - python -V
  - popd
script:
  - python $OPTIMIZE runtests.py -g -m $TESTMODE $COVERAGE
notifications:
  # Perhaps we should have status emails sent to the mailing list, but
  # let's wait to see what people think before turning that on.
  email: false
after_success:
    - if [ "${TESTMODE}" == "full" ]; then pushd build/testenv/lib/python*/site-packages/ && cp ../../../../test/.coverage . && coveralls && popd; fi
