trigger:
  # start a new build for every push
  batch: False
  branches:
    include:
      - master
      - maintenance/*

# the version of OpenBLAS used is currently 0.3.5.dev
# despite the numbering on the downloaded files
# and should be updated to match scipy-wheels as appropriate

jobs:
- job: Linux_Python_36_32bit_full
  pool:
    vmImage: 'ubuntu-16.04'
  steps:
  - script: |
           docker pull i386/ubuntu:bionic
           docker run -v $(pwd):/scipy i386/ubuntu:bionic /bin/bash -c "cd scipy && \
           apt-get -y update && \
           apt-get -y install curl python3.6-dev python3.6 python3-distutils pkg-config libpng-dev libjpeg8-dev libfreetype6-dev && \
           curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py && \
           python3.6 get-pip.py && \
           pip3 --version && \
           pip3 install setuptools wheel numpy cython==0.29.2 pytest pytest-timeout pytest-xdist pytest-env pytest-faulthandler pytest-cov Pillow mpmath matplotlib --user && \
           apt-get -y install gfortran-5 wget && \
           cd .. && \
           mkdir openblas && cd openblas && \
           wget https://3f23b170c54c2533c070-1c8a9b3114517dc5fe17b7c3f8c63a43.ssl.cf2.rackcdn.com/openblas-v0.3.3-186-g701ea883-manylinux1_i686.tar.gz && \
           tar zxvf openblas-v0.3.3-186-g701ea883-manylinux1_i686.tar.gz && \
           cp -r ./usr/local/lib/* /usr/lib && \
           cp ./usr/local/include/* /usr/include && \
           cd ../scipy && \
           F77=gfortran-5 F90=gfortran-5 python3.6 runtests.py -t scipy.special.tests.test_basic --mode=full -- -n auto -rsx --junitxml=junit/test-results.xml --cov=scipy --cov-report=xml --cov-report=html"
    displayName: 'Run 32-bit Ubuntu Docker Build / Tests'
  - task: PublishTestResults@2
    condition: succeededOrFailed()
    inputs:
      testResultsFiles: '**/test-*.xml'
      failTaskOnFailedTests: true
      testRunTitle: 'Publish test results for Python 3.6-32 bit full Linux'
