# Note: this should disappear at some point. For now, please keep it
#       in sync with the doc dependencies in pyproject.toml
Sphinx!=4.1.0
pydata-sphinx-theme==0.9.0
sphinx-design>=0.2.0
numpydoc
matplotlib>2
jupytext
myst-nb
pooch
