# Note: this should disappear at some point. For now, please keep it
#       in sync with the doc dependencies in pyproject.toml
Sphinx!=4.1.0
pydata-sphinx-theme==0.9.0
sphinx-panels>=0.5.2
sphinx-tabs
numpydoc
matplotlib>2
