# Please refer to https://scipy.github.io/devdocs/building/index.html
# To use:
#   $ conda env create -f environment.yml  # `mamba` works too for this command
#   $ conda activate scipy-dev
#
name: scipy-dev
channels:
  - conda-forge
dependencies:
  - python
  - cython>=3.0.8
  - compilers  # Currently unavailable for Windows. Comment out this line and download Rtools and add <path>\ucrt64\bin\ to your path: https://cran.r-project.org/bin/windows/Rtools/rtools40.html
  - meson
  - meson-python
  - ninja
  - numpy
  - openblas
  - pkg-config
  - libblas=*=*openblas  # helps avoid pulling in MKL
  - pybind11
  # scipy.datasets dependency
  - pooch
  # ---
  - pythran
  # For testing and benchmarking
  - pytest
  - pytest-cov
  - pytest-xdist
  - pytest-timeout
  - asv >=0.6
  - hypothesis
  - array-api-strict
  # For type annotations
  - mypy
  - typing_extensions
  - types-psutil
  # For building docs
  - sphinx
  - numpydoc
  - ipython
  - setuptools<67.3  # avoid pkg_resources deprecation warnings from MPL/scikit-umfpack
  - matplotlib
  - pydata-sphinx-theme>=0.15.2
  - sphinx-design
  - jupytext
  - myst-nb
  - jupyterlite-sphinx>=0.13.1
  # Some optional test dependencies
  - mpmath
  - gmpy2
  - threadpoolctl
  # For CLI
  - rich-click
  - click
  - doit>=0.36.0
  - pydevtool
  # For linting
  - ruff>=0.0.292
  - cython-lint
