# To use:
#   $ conda env create -f environment.yml  # `mamba` works too for this command
#   $ conda activate scipy-dev
#
# Also used to build the `scipy-dev` Docker image via GitHub Actions
name: scipy-dev
channels:
  - conda-forge
dependencies:
  - python
  - setuptools<60.0
  - cython
  - compilers
  - numpy
  - openblas
  - libblas=*=*openblas  # helps avoid pulling in MKL
  - pybind11
  - pythran>=0.9.12
  - conda-build  # to allow `conda develop .`
  # For testing and benchmarking
  - pytest
  - pytest-cov
  - pytest-xdist
  - asv<0.5
  # For type annotations
  - mypy
  - typing_extensions
  # For building docs
  - sphinx
  - numpydoc
  - ipython
  - matplotlib
  - pydata-sphinx-theme>=0.8.1
  - sphinx-panels
  - sphinx-tabs
  # For linting
  - flake8
  # Some optional test dependencies
  - mpmath
  - gmpy2
  - threadpoolctl
  # For CLI
  - rich-click
  - click
  - pip:
      - doit==0.35.0
