include MANIFEST.in
include *.txt
# Top-level build script
include setup.py
include pyproject.toml
# All source files
recursive-include scipy *
recursive-include benchmarks *
# All documentation
recursive-include doc *
# Add build and testing tools
include runtests.py
include .coveragerc
include site.cfg.example
include tox.ini pytest.ini
recursive-include tools *
# Exclude what we don't want to include
recursive-exclude scipy/linalg/src/id_dist/src *_subr_*.f
prune benchmarks/env
prune benchmarks/results
prune benchmarks/html
prune benchmarks/scipy
prune scipy/special/tests/data/boost
prune scipy/special/tests/data/gsl
prune scipy/special/tests/data/local
prune doc/build
prune doc/source/generated
prune */__pycache__
global-exclude *.pyc *~ *.bak *.swp *.pyo
# Exclude license file that we append to the main license when running
# `python setup.py sdist`
exclude LICENSES_bundled.txt
