/*
:Author: Travis Oliphant
:copyright: This stylesheet has been placed in the public domain.

Default cascading style sheet for LiveDocs
*/

/* "! important" is used here to override other ``margin-top`` and
   ``margin-bottom`` styles that are later in the stylesheet or 
   more specific.  See <http://www.w3.org/TR/CSS1#the-cascade>. */

.header { 
  color: #ff00ff;
  font-weight: bold;
  font-size: xx-large;  
  padding: 2em 0 0 0;
  white-space: nowrap;
}

#portal-siteactions {
    position: absolute;
    top: 11px;
    right: 16px;
    width: 54px;
    margin: 0;
    padding: 0;
}

#portal-siteactions a {
    display: block;
    float: left;
    padding: 40px 0 0 0;
    width: 40px;
    height: 0px !important;
    height /**/: 25px;
    overflow: hidden;
}

.docedit { color: #ff0000 }

.extraedit { color: #ff0000 }

pre.literal-block { 
  margin-left: 2em;
  margin-right: 2em;
  background-color: #ffeecc;
} 
