version: 2.1

# Aliases to reuse
_defaults: &defaults
  docker:
    # CircleCI maintains a library of pre-built images
    # documented at https://circleci.com/docs/2.0/circleci-images/
    - image: cimg/python:3.11
  working_directory: ~/repo

commands:
  check-skip:
    steps:
      - run:
          name: Check-skip
          command: |
            if [ ! -d "scipy" ]; then
              echo "Build was not run due to skip, exiting job ${CIRCLE_JOB} for PR ${CIRCLE_PULL_REQUEST}."
              circleci-agent step halt;
            fi

            export git_log=$(git log --max-count=1 --pretty=format:"%B" | tr "\n" " ")
            echo "Got commit message:"
            echo "${git_log}"
            if [[ -v CIRCLE_PULL_REQUEST ]] && ([[ "$git_log" == *"[skip circle]"* ]] || [[ "$git_log" == *"[circle skip]"* ]] || [[ "$git_log" == *"[lint only]"* ]]); then
              echo "Skip detected, exiting job ${CIRCLE_JOB} for PR ${CIRCLE_PULL_REQUEST}."
              circleci-agent step halt;
            fi

  apt-install:
    steps:
      - run:
          name: Install apt packages
          command: |
            sudo apt-get update
            sudo apt-get install libopenblas-dev gfortran libgmp-dev libmpfr-dev ccache

  merge:
    steps:
      - run:
          name: merge with upstream
          command: |
            echo $(git log -1 --pretty=%B) | tee gitlog.txt
            echo ${CI_PULL_REQUEST//*pull\//} | tee merge.txt
            if [[ $(cat merge.txt) != "" ]]; then
              echo "Merging $(cat merge.txt)";
              git remote add upstream https://github.com/scipy/scipy.git;
              git pull --ff-only upstream "refs/pull/$(cat merge.txt)/merge";
              git fetch upstream main;
            fi

jobs:
# Build SciPy from source
  build_scipy:
    <<: *defaults
    steps:
      - checkout
      - check-skip
      - merge

      - apt-install

      - run:
          name: update submodules
          command: |
            git submodule init
            git submodule update

      - restore_cache:
          keys:
              - deps_ccache-{{ .Branch }}
              - deps_ccache

      - run:
          name: setup Python venv
          command: |
            pip install numpy cython pybind11 pythran ninja meson
            pip install -r requirements/doc.txt
            pip install mpmath gmpy2 "asv>=0.6.0" click rich-click doit pydevtool pooch threadpoolctl
            # extra benchmark deps
            pip install pyfftw cffi pytest

      - run:
          name: build SciPy
          command: |
            python dev.py build -j2

      - save_cache:
          key: deps_ccache-{{ .Branch }}
          paths:
            - ~/.ccache
            - ~/.cache/pip

      - run:
          name: ccache performance
          command: |
            ccache -s

      - persist_to_workspace:
          root: ~/
          paths:
            - .

# Build docs
  build_docs:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/

      - check-skip
      - apt-install

      - run:
          name: build docs
          no_output_timeout: 25m
          command: |
            export PYTHONPATH=$PWD/build-install/lib/python3.11/site-packages
            python dev.py --no-build doc 2>&1 | tee sphinx_log.txt

      - run:
          name: Check sphinx log for warnings (which are treated as errors)
          when: always
          command: |
            ! grep "^.* WARNING: .*$" sphinx_log.txt

      - store_artifacts:
          path: doc/build/html
          destination: html

      - persist_to_workspace:
          root: doc/build
          paths:
            - html

# Run benchmarks

  run_benchmarks:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/

      - check-skip
      - apt-install

      - run:
          name: run asv
          no_output_timeout: 30m
          command: |
            export PYTHONPATH=$PWD/build-install/lib/python3.11/site-packages
            cd benchmarks
            asv machine --machine CircleCI
            export SCIPY_GLOBAL_BENCH_NUMTRIALS=1
            export SCIPY_ALLOW_BENCH_IMPORT_ERRORS=0
            export OPENBLAS_NUM_THREADS=1
            time asv --config asv.conf.json run -m CircleCI --quick --python=same --bench '^((?!BenchGlobal|QuadraticAssignment).)*$'
            asv --config asv.conf.json publish

      - store_artifacts:
          path: benchmarks/html
          destination: html-benchmarks

# Reference guide checking
  refguide_check:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/

      - check-skip
      - apt-install

      - run:
          name: refguide_check
          no_output_timeout: 25m
          command: |
            sudo apt-get install -y wamerican-small
            export PYTHONPATH=$PWD/build-install/lib/python3.11/site-packages
            python dev.py --no-build refguide-check

      - run:
          name: smoke-docs
          no_output_timeout: 35m
          command: |
            pip install matplotlib hypothesis
            pip install scipy-doctest
            python dev.py smoke-docs

      - run:
          name: smoke-tutorials
          no_output_timeout: 10m
          command: |
            python dev.py smoke-tutorials

# Upload build output to scipy/devdocs repository, using SSH deploy keys.
# The keys are only available for builds on main branch.
# https://developer.github.com/guides/managing-deploy-keys/
# https://circleci.com/docs/2.0/configuration-reference/#add_ssh_keys

  deploy:
    <<: *defaults
    steps:
      - attach_workspace:
          at: /tmp/build

      - add_ssh_keys:
          fingerprints:
            - "1d:47:cf:2e:ea:7c:15:cf:ec:bb:1f:44:e2:56:16:d3"

      - run:
          name: upload
          command: |
            set -e;
            mkdir -p ~/.ssh
            echo -e "Host *\nStrictHostKeyChecking no" > ~/.ssh/config
            chmod og= ~/.ssh/config
            git clone git@github.com:scipy/devdocs.git devdocs;
            cd devdocs;
            (git checkout --orphan tmp && git branch -D gh-pages || true);
            git checkout --orphan gh-pages;
            git reset --hard;
            cp -R /tmp/build/html/. .;
            touch .nojekyll;
            git config --global user.email "scipy-circleci-bot@nomail";
            git config --global user.name "scipy-circleci-bot";
            git config --global push.default simple;
            git add . > /dev/null;
            git commit -m "Docs build of $CIRCLE_SHA1";
            git push --set-upstream origin gh-pages --force

workflows:
  version: 2
  default:
    jobs:
      - build_scipy
      - build_docs:
          requires:
            - build_scipy
      - run_benchmarks:
          requires:
            - build_scipy
      - refguide_check:
          requires:
            - build_scipy
      - deploy:
          requires:
            - build_docs
          filters:
            branches:
              only: main
