[tool.ruff]
line-length = 88

# Enable Pyflakes `E` and `F` codes by default.
select = ["E", "F"]
ignore = [
  "E121", "E122", "E123", "E125", "E126", "E127", "E128", "E226",
  "E251", "E265", "E266", "E302", "E402", "E712", "E721", "E731",
  "E741", "W291", "W293", "W391", "W503", "W504"
]
excludes = [
  'scipy/datasets/_registry.py'
]
per-file-ignores = {'**/__init.py', ['F401', 'F403']}

# Allow unused variables when underscore-prefixed.
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

# Assume Python 3.8
target-version = "py38"

[tool.ruff.mccabe]
# Unlike Flake8, default to a complexity level of 10.
max-complexity = 10
