name: Redirect circleci artifacts

on: [status]

permissions:
  contents: read  # to fetch code (actions/checkout)
  statuses: write  # to report circleci status (scientific-python/circleci-artifacts-redirector-action)

jobs:
  circleci_artifacts_redirector_job:
    runs-on: ubuntu-22.04
    if: >
      github.repository == 'scipy/scipy'
      && github.event.context == 'ci/circleci: build_docs'
    name: Run CircleCI artifacts redirector
    steps:
      - name: GitHub Action step
        uses: scientific-python/circleci-artifacts-redirector-action@4e13a10d89177f4bfc8007a7064bdbeda848d8d1 # v1.0.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          api-token: ${{ secrets.CIRCLE_TOKEN }}
          artifact-path: 0/html/index.html
          circleci-jobs: build_docs
          job-title: Check the rendered docs here!
