name: Lint

on:
  push:
    branches:
      - maintenance/**
  pull_request:
    branches:
      - main
      - maintenance/**

permissions:
   contents: read  # to fetch code (actions/checkout)

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  test_lint:
    name: Lint
    # If using act to run CI locally the github object does not exist and the usual skipping should not be enforced
    if: "github.repository == 'scipy/scipy' || github.repository == ''"
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: ['3.11']

    steps:
    - uses: actions/checkout@v4.1.1
      with:
        fetch-depth: 0
        submodules: recursive

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Python packages
      run: |
        python -m pip install ruff cython-lint packaging

    - name: Lint
      run: |
        set -euo pipefail
        python tools/lint.py --diff-against origin/$GITHUB_BASE_REF
        python tools/unicode-check.py
        python tools/check_test_name.py

    - name: Check that Python.h is first in any file including it.
      shell: bash
      run: |
        python tools/check_python_h_first.py 
