name: Lint

on:
  push:
    branches:
      - maintenance/**
  pull_request:
    branches:
      - main
      - maintenance/**

permissions:
  contents: read # to fetch code (actions/checkout)

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  test_lint:
    name: Lint
    # If using act to run CI locally the github object does not exist and the usual skipping should not be enforced
    if: "github.repository == 'scipy/scipy' || github.repository == ''"
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0 # previous commits used in tools/lint.py
          submodules: recursive

      - uses: prefix-dev/setup-pixi@ba3bb36eb2066252b2363392b7739741bb777659 # v0.8.1
        with:
          pixi-version: v0.55.0
          cache: false
          environments: lint

      - name: Spin Lint
        run: |
          set -euo pipefail
          pixi run lint --diff-against origin/$GITHUB_BASE_REF

      - name: Check that Python.h is first in any file including it.
        shell: bash
        run: pixi run check-python-h

      - name: Check module interdependencies
        working-directory: .github/workflows
        run: pixi run tach-check

      - name: Check external dependencies
        working-directory: .github/workflows
        run: pixi run tach-check-external

      - name: Check no advertised alt-backend support that is untested
        working-directory: .github/workflows
        run: pixi run check-xp-untested
