name: Linux Tests

on:
  push:
    branches:
      - master
      - maintenance/**
  pull_request:
    branches:
      - master
      - maintenance/**

jobs:
  Python-37-dbg:
    name: Python 3.7-dbg
    if: "github.repository == 'scipy/scipy' && !contains(github.event.head_commit.message, '[ci skip]') && !contains(github.event.head_commit.message, '[skip ci]') && !contains(github.event.head_commit.message, '[skip github]')"
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: Configuring Test Environment
        run: |
          sudo apt-get update
          sudo apt install python3.7-dbg python3.7-dev libatlas-base-dev liblapack-dev gfortran libgmp-dev libmpfr-dev libsuitesparse-dev ccache swig libmpc-dev
          free -m
          python3.7-dbg --version # just to check
          export NPY_NUM_BUILD_JOBS=2
          uname -a
          df -h
          ulimit -a
          set -e -o pipefail
          mkdir builds
          cd builds
      - name: Installing packages
        run: |      
          python3.7-dbg -c 'import sys; print("Python debug build:", hasattr(sys, "gettotalrefcount"))'
          python3.7-dbg -m pip install --upgrade pip setuptools wheel cython pytest pytest-xdist argparse pybind11
          python3.7-dbg -m pip install --upgrade mpmath gmpy2
          python3.7-dbg -m pip install --upgrade --no-cache-dir numpy
          python3.7-dbg -m pip uninstall -y nose
          cd ..
      - name: Building SciPy
        run: python3.7-dbg -u runtests.py -g -j2 --build-only
      - name: Testing SciPy
        if: ${{ github.event_name == 'pull_request' }}
        run: |
          python3.7-dbg -u runtests.py -g -j2 -m fast -- -rfEX --durations=10 2>&1 | tee runtests.log
          python3.7-dbg tools/validate_runtests_log.py fast < runtests.log
      - name: Dynamic symbol hiding check on Linux
        if: ${{ github.event_name == 'pull_request' }}
        run: ./tools/check_pyext_symbol_hiding.sh build

  test_nightly:
    name: Nightly CPython
    if: "github.repository == 'scipy/scipy' && !contains(github.event.head_commit.message, '[ci skip]') && !contains(github.event.head_commit.message, '[skip ci]') && !contains(github.event.head_commit.message, '[skip github]') && !contains(github.ref, 'maintenance/')"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.9]

    steps:
    - uses: actions/checkout@v2

    - name: Install Python 3.9
      if: matrix.python-version == '3.9'
      run: |
        sudo add-apt-repository ppa:deadsnakes/ppa
        sudo apt-get update
        sudo apt-get install -y --no-install-recommends python3.9-dev python3.9-distutils python3.9-venv
        python3.9 -m pip install --upgrade pip setuptools

    - name: Install other build dependencies
      run: |
        sudo apt-get install libatlas-base-dev liblapack-dev gfortran libgmp-dev libmpfr-dev libsuitesparse-dev ccache libmpc-dev

    - name: Install packages
      run: |
        python3.9 -m pip install --user numpy setuptools wheel cython pytest pytest-xdist pybind11 pytest-xdist

    - name: Test SciPy
      run: |
        python3.9 -u runtests.py -m fast
