name: macOS tests

on:
  push:
    branches:
      - maintenance/**
  pull_request:
    branches:
      - main
      - maintenance/**

permissions:
  contents: read # to fetch code (actions/checkout)

env:
  INSTALLDIR: "build-install"
  CCACHE_DIR: "${{ github.workspace }}/.ccache"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  get_commit_message:
    name: Get commit message
    uses: ./.github/workflows/commit_message.yml

  test_meson:
    name: Conda & umfpack/scikit-sparse, fast, py3.11/npAny, spin
    needs: get_commit_message
    if: >
      needs.get_commit_message.outputs.message == 1
      && (github.repository == 'scipy/scipy' || github.repository == '')
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          submodules: recursive

      - uses: prefix-dev/setup-pixi@ba3bb36eb2066252b2363392b7739741bb777659 # v0.8.1
        with:
          pixi-version: v0.55.0
          manifest-path: .github/workflows/pixi.toml
          cache: false

      - name: Set up ccache
        uses: ./.github/ccache
        with:
          workflow_name: ${{ github.workflow }}

      - name: Test SciPy
        shell: bash -l {0}
        working-directory: .github/workflows
        run: |
          rm -rf ../../subprojects/boost_math  # so will fail if system boost doesn't work
          rm -rf ../../subprojects/qhull_r  # so will fail if system qhull doesn't work
          export OMP_NUM_THREADS=2
          pixi run test-system-libs -j2

      - name: Ccache statistics
        shell: bash -l {0}
        run: pixi exec ccache -s

  test_scipy_openblas:
    name: M1 & OpenBLAS, fast, py3.11/npAny, spin
    needs: get_commit_message
    if: >
      needs.get_commit_message.outputs.message == 1
      && (github.repository == 'scipy/scipy' || github.repository == '')
    runs-on: macos-14
    strategy:
      matrix:
        python-version: ["3.11"]

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          submodules: recursive

      - uses: prefix-dev/setup-pixi@ba3bb36eb2066252b2363392b7739741bb777659 # v0.8.1
        with:
          pixi-version: v0.55.0
          manifest-path: .github/workflows/pixi.toml
          cache: false

      - name: Test with scipy-openblas32
        working-directory: .github/workflows
        run: pixi run test-scipy-openblas

  test_accelerate:
    name: Accelerate, full, py3.13/npAny, spin
    needs: get_commit_message
    if: >
      needs.get_commit_message.outputs.message == 1
      && (github.repository == 'scipy/scipy' || github.repository == '')
    runs-on: macos-15
    strategy:
      matrix:
        environment: [accelerate-lp64, accelerate-ilp64]
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          submodules: recursive

      - uses: prefix-dev/setup-pixi@ba3bb36eb2066252b2363392b7739741bb777659 # v0.8.1
        with:
          pixi-version: v0.55.0
          manifest-path: .github/workflows/pixi.toml
          cache: false

      - name: Test SciPy
        working-directory: .github/workflows
        # mpmath tests are too slow for CI
        run: pixi run test-${{ matrix.environment }} -m full -- -k "not mpmath"


  test_macos_x86_64_accelerate:
    name: macos15, x86_64, accelerate
    needs: get_commit_message
    if: >
      needs.get_commit_message.outputs.message == 1
      && (github.repository == 'scipy/scipy' || github.repository == '')
    runs-on: macos-15-intel
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          submodules: recursive

      - name: Setup Python
        uses: actions/setup-python@8d9ed9ac5c53483de85588cdf95a591a75ab9f55 # v5.5.0
        with:
          python-version: "3.13"
          cache: 'pip'
          allow-prereleases: true

      - name: Test SciPy
        run: |
          export FC=gfortran-13
          pip install -r requirements/build.txt
          pip install -r requirements/dev.txt
          spin build --with-accelerate
          pip install -r requirements/test.txt
          spin test


  clang_ASAN:
    name: Test under AddressSanitizer
    runs-on: macos-15
    needs: get_commit_message
    if: >
      needs.get_commit_message.outputs.message == 1
      && (github.repository == 'scipy/scipy' || github.repository == '')
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        submodules: recursive
        fetch-tags: true
        persist-credentials: false

    - name: Set up pyenv
      run: |
        git clone https://github.com/pyenv/pyenv.git "$HOME/.pyenv"
        PYENV_ROOT="$HOME/.pyenv"
        PYENV_BIN="$PYENV_ROOT/bin"
        PYENV_SHIMS="$PYENV_ROOT/shims"
        echo "$PYENV_BIN" >> $GITHUB_PATH
        echo "$PYENV_SHIMS" >> $GITHUB_PATH
        echo "PYENV_ROOT=$PYENV_ROOT" >> $GITHUB_ENV

    - name: Set up LLVM
      run: |
        brew install llvm@19
        LLVM_PREFIX=$(brew --prefix llvm@19)
        echo CC="$LLVM_PREFIX/bin/clang" >> $GITHUB_ENV
        echo CXX="$LLVM_PREFIX/bin/clang++" >> $GITHUB_ENV
        echo LDFLAGS="-L$LLVM_PREFIX/lib" >> $GITHUB_ENV
        echo CPPFLAGS="-I$LLVM_PREFIX/include" >> $GITHUB_ENV

    - name: Build Python with AddressSanitizer
      run: |
        CONFIGURE_OPTS="--with-address-sanitizer" pyenv install 3.14t
        pyenv global 3.14t

    - name: Install NumPy dependencies from PyPI
      run: |
        pip install meson-python ninja cython

    - name: Build NumPy with ASan
      run:
        pip install numpy --no-binary numpy --no-build-isolation -Csetup-args="-Db_sanitize=address" -v

    - name: Install SciPy dependencies from PyPI
      run: |
        pip install pybind11 pythran spin pooch hypothesis pytest pytest-timeout

    - name: Make gfortran-13 on runner image usable
      run: |
        # Ensure we use gfortran-13 and that its runtime is on the library search path
        FC=$(which gfortran-13)
        GFORTRAN_LIB=$(dirname `$FC --print-file-name libgfortran.dylib`)
        echo DYLD_LIBRARY_PATH=$GFORTRAN_LIB >> "$GITHUB_ENV"
        echo FC=$FC >> "$GITHUB_ENV"

    - name: Build SciPy with ASan
      run: |
        # Can't use Meson's `-Db_sanitize=address` because gfortran-13 will choke on it
        export CFLAGS="-fsanitize=address -fno-omit-frame-pointer -fsanitize-ignorelist=$(pwd)/tools/asan-ignore.txt -Wno-deprecated-declarations"
        export CXXFLAGS="-fsanitize=address -fno-omit-frame-pointer -fsanitize-ignorelist=$(pwd)/tools/asan-ignore.txt -Wno-deprecated-declarations"
        spin build -S-Dblas=accelerate

    - name: Test
      run: |
        # pass -s to pytest to see ASAN errors and warnings, otherwise pytest captures them
        ASAN_OPTIONS=detect_leaks=0:symbolize=1:strict_init_order=true:allocator_may_return_null=1:use_sigaltstack=0 \
        spin test -- -v -s --timeout=600 --durations=10 -m 'not fail_asan'
