name: Windows tests

on:
  push:
    branches:
      - maintenance/**
  pull_request:
    branches:
      - main
      - maintenance/**

permissions:
   contents: read  # to fetch code (actions/checkout)

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  test:
    name: cp310 (meson) fast
    # Ensure (a) this doesn't run on forks by default, and
    #        (b) it does run with Act locally (`github` doesn't exist there)
    if: "github.repository == 'scipy/scipy' || github.repository == ''"
    runs-on: windows-2019
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          architecture: 'x64'
          cache: 'pip'
          cache-dependency-path: 'environment.yml'
      - name: Install rtools (mingw-w64)
        run: |
          choco install rtools --no-progress
          echo "c:\rtools40\ucrt64\bin;" >> $env:GITHUB_PATH
      - name: show-gfortran
        run: |
          gcc --version
          gfortran --version
      - name: pip-packages
        run: |
          pip install numpy==1.22.2 cython pybind11 pythran meson ninja pytest pytest-xdist pytest-timeout pooch rich_click click doit pydevtool
      - name: Install OpenBLAS
        shell: bash
        run: |
          # same OpenBLAS install method as cibuildwheel
          set -xe
          bash tools/wheels/cibw_before_build_win.sh .
          echo "PKG_CONFIG_PATH=c:\opt\64\lib\pkgconfig;" >> $GITHUB_ENV
      - name: Build
        run: |
          echo "SCIPY_USE_PROPACK=1" >> $env:GITHUB_ENV
          python dev.py build -j 2 --win-cp-openblas
          # Necessary because GitHub Actions checks out the repo to D:\ while OpenBLAS
          # got installed to C:\ higher up. The copying with `--win-cp-openblas` fails
          # when things are split over drives.
          cp C:\opt\64\bin\*.dll $pwd\build-install\Lib\site-packages\scipy\.libs\
          python tools\openblas_support.py --write-init $PWD\build-install\Lib\site-packages\scipy\
      - name: Test
        run: |
          python dev.py test -j2


  #############################################################################
  full_dev_py_min_numpy:
    name: cp39 (meson) full, dev.py, minimum numpy
    if: "github.repository == 'scipy/scipy' || github.repository == ''"
    runs-on: windows-2019
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          cache: 'pip'
          cache-dependency-path: 'environment.yml'

      - name: Install rtools (mingw-w64)
        run: |
          choco install rtools --no-progress
          echo "c:\rtools40\ucrt64\bin;" >> $env:GITHUB_PATH

      - name: Install OpenBLAS
        shell: bash
        run: |
          set -xe
          bash tools/wheels/cibw_before_build_win.sh .
          echo "PKG_CONFIG_PATH=c:\opt\64\lib\pkgconfig;" >> $GITHUB_ENV

      - name: pip-packages
        run: |
          # 1.22.3 is currently the oldest numpy usable on cp3.9 according
          # to pyproject.toml
          python -m pip install numpy==1.22.3 cython pybind11 pythran meson-python meson ninja pytest pytest-xdist pytest-timeout pooch rich_click click doit pydevtool

      - name: Build
        run: |
          python dev.py build -j 2 --win-cp-openblas
          # Copy OpenBLAS DLL, write distributor-init (see first job in this file for why)
          cp C:\opt\64\bin\*.dll $pwd\build-install\Lib\site-packages\scipy\.libs\
          python tools\openblas_support.py --write-init $PWD\build-install\Lib\site-packages\scipy\

      - name: Test
        run: |
          python dev.py test -j2 --mode full
