BasedOnStyle: LLVM
Standard: Cpp11
UseTab: Never
IndentWidth: 2
BreakBeforeBraces: Attach
Cpp11BracedListStyle: true
NamespaceIndentation: Inner
AlwaysBreakTemplateDeclarations: true
SpaceAfterCStyleCast: true
ColumnLimit: 120
